/*
* Rebecca de Feijter - 10639918
* Programmeerproject
*
* CSS Style sheet
*/


/* Style elements for slider */
.slidecontainer {
    width: 80%;
    position: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#centerVertically {
    transform: translateY(50%);
}


/* style for legends */
.session {
    margin-bottom: 10px;
}
.colors {
    background: linear-gradient(to right, green, white, #999999, #323232, black);
    margin-bottom: 5px;
    height: 15px;
}

.label {
    width: 10%;
    display: inline-block;
    text-align: center;
}

.label.mapLegend.zero {
    width: 20%;
    text-align: left;
}

.label.mapLegend.three {
    width: 10%;
    text-align: right;
}

.label.mapLegend.multiple {
    width: 15%;
    text-align: right;
}

.mapLegendText, .hoverinfo {
    font-weight: bold;
}

.legend, rect {
    width: 30px;
    height: 15px;
    stroke: black;
    stroke-width: 1;
}


/* style for scatter plot */
.axis path,
.axis line {
    fill : none;
    stroke : black;
    shape-rendering : crispEdges;
}

.tooltip {
    position: absolute;
    width: 210px;
    height: 135px;
    padding: 2px;
    font: 14px;
    background: lightgrey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.graph {
    height: 50%;
 }

.dot {
    fill: black;
}

.dot:hover {
    opacity: 0.5;
}


/* style for dropdown */
#scatterDropdown {
    width: 90%;
}


/* style for text */
h2 {
    font-size: 20px;
}
h3 {
    font-size: 20px;
}

.title, h3 {
    text-align: center;
}

#info {
    font-size: 12px;
}


/* general stuff */
.row {
    width: 100%;
    margin-left: 0;
}

body, .session {
    background-color: #FFF0F2;
}
